/*barra de navegacion */

.navbar {

    padding: 2rem;
    background-color: #4c87c2;

}

.navbar-collapse {

    align-items: center;

    justify-content: space-between;
}


/*hero*/
section {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {

    font-size: 2.5rem;
    font-family: 'Rubik Dirt', cursive;
}

.hero {

    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

.hero-principal {
    padding: 3rem;

}

.hero-imagen {

    width: 200px;
    height: 200px;

    margin: 20px;
}

.hero-principal h2 {


    font-size: 1.5rem;
    color: #615151;






}

.hero-inferior-imagen {


    min-width: 400px;
}

.seccion-oscura {


    color: white;

    background-color: #1b1b32;
}

.sobre-mi {
    height: 500px;
    padding: 10px;
}

.sobre-mi .contenedor {

    max-width: 600px;
    text-align: center;



}


.seccion-titulo {

    font-size: 2rem;
    padding: 15px;
    font-family: 'Rubik Dirt', cursive;
}

.seccion-texto {



    font-size: 1.2rem;
}

.experiencia {



    padding: 40px 40px 60px 40px;
}

.seccion-clara {

    color: black;
    background-color: white;
}

.experiencia .row div {
    height: 250px;

}

.experiencia-titulo {

    font-size: 25px;
    font-weight: bold;
    margin: 10px 0px;
}

.experiencia i {

    font-size: 2.5rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;

}


.badgues-contenedor {


    font-size: 18px;
    font-weight: bold;
    margin: 10px 0px;
}


.badgues {

    margin: 5px;
}

.experiencia .columna {


    padding: 20px;
    border: 2px solid #80804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s step-end;
}

.experiencia .columna:hover {

    color: white;
    background-color: #1b1b32;
}


.proyectos {
    padding: 40px;
}

.texto-negro {


    color: black;
}

.seccion-descripcion {

    font-size: 1.3rem;
    color: #584e4e;
}

.proyectos img {


    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}

.proyectos-contenedor {

    padding-top: 60px;
    margin-bottom: 40px
}

.overlay {

    transition: all 0.2s ease;

    /*transparencia*/
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p {

    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;

}

.proyectos:hover .overlay {
    opacity: 1;
}

.proyectos:hover img {


    opacity: 0.2;
}


.proyectos {

    position: relative;
}

.overlay .iconos-contenedor {

    display: flex;
}

.overlay a {

    color: black;
    font-size: 30px;
    margin: 10px;


}
.btn-info{}



/*responsivo*/
@media screen and (max-width:767px) {


    .navbar-brand {


        display: none;
    }
}

@media screen and (min-width:700px) {


    .hero-inferior-imagen {


        max-width: 500px;
    }
}